@import "tailwindcss";

@font-face {
      font-family: 'Cantarell-ExtraBold';
      src: url('./Cantarell-ExtraBold.woff2') format('woff2');
      font-weight: 800; /* Set the font weight */
      font-style: normal; /* Set the font style */
    }

@theme {
  --font-sans: "Cantarell-ExtraBold", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
